## Assignment 4 (Parth Sanghvi)

#### Let us import the necessary libraries first

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import ipywidgets

#### We then import the data from provided link. We enter the column names since its not provided in the data and we also parse the dates as 'date' and 'report_date'.

In [2]:
ufos = pd.read_csv("https://github.com/UIUC-iSchool-DataViz/is445_AOUAOG_fall2021/raw/master/week05/data/ufo-scrubbed-geocoded-time-standardized-00.csv",
                  names = ["date", "city", "state", "country",
                          "shape", "duration_seconds", "duration",
                          "comment", "report_date", "latitude", "longitude"],
                  parse_dates = ["date", "report_date"])

#### We replace NA values in 'country', 'state' or 'shape' by "unknown"

In [3]:
ufos = ufos.fillna({'country':'unknown', 'state': 'unknown', 'shape':'unknown'})

In [4]:
ufos

,date,city,state,country,shape,duration_seconds,duration,comment,report_date,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,unknown,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),unknown,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778

### 1. Scatter plot

#### I have not considered 5 of the 10 columns present in the data. I removed 'city' and 'state' because they were categorical variables and there were lot of unique valeues giving little to no information. I removed 'date', 'report_date' and 'duration' because they were not in numerical format and they will lose their meaning if we try to convert them into numerical form. 'comment' was removed because it cannot be visualized on a graph.
#### I will allow the user to pick any two columns from the above selected five columns. I realize that some of the 2-column combinations will not spit our a chart that makes sense, but this is how the user will understand which columns should be used where to create a scatter plot that provides useful information. Although both the axis supporting categorical variables is not ideal, I want the user to see the effect of using categorical columns in non-ideal places.
#### We are then left with 2 categorical and 3 numerical variables: 'country', 'shape', 'duration_seconds', 'latitude' and 'longitude'.
#### I took 'country' column because there were only 6 unique values which could be visualized easily and contain information that we can use. Similarly there were only 30 values of shape which contained information that we can use in future. The numerical columns were selected because they were numerical.

#### For the x-axis and y-axis, I created a dropdown so that user can select any of the 5 columns to be axis. I also added a function that rotates the tickers on x-axis if the axis selected is 'shape'. This way the 'shape' names will not overlap'

#### For color maps, I first provided a dropdown for the user to select which colormap do they want to use on the plot. I gave only 'miscelaneous' color map choices for the user to select from. This variable is then input as cmap attribute in 'scatter' plot function. For color scaling I used log of duration in seconds as done in class.

#### I used the 'interactive' function(which is part of the ipywidgets library) to display the widgets on the scatter plot function.

In [5]:
from ipywidgets import interactive

def sct_plot(xaxis, yaxis, color):
    x = ufos[xaxis]
    y = ufos[yaxis]
    plt.scatter(x, y, c=np.log10(ufos['duration_seconds']), cmap=color)
    if xaxis=='shape':
        plt.xticks(rotation=90)
    plt.xlabel(xaxis)
    plt.ylabel(yaxis)
    plt.title('Scatter plot with custom axes')
    plt.show()

plot1 = interactive(sct_plot, 
                  xaxis = ipywidgets.Dropdown(
                      value='longitude',
                      options=['longitude', 'latitude', 'country', 'shape', 'duration_seconds'],
                      description='x'
                  ),
                   yaxis = ipywidgets.Dropdown(
                      value='latitude',
                      options=['longitude', 'latitude', 'country', 'shape', 'duration_seconds'],
                      description='y'
                  ),
                   color = ipywidgets.Dropdown(
                      value='rainbow',
                      options=['flag', 'prism', 'ocean', 'gist_earth', 'terrain', 'gist_stern',
                               'gnuplot', 'gnuplot2', 'CMRmap', 'cubehelix', 'brg',
                               'gist_rainbow', 'rainbow', 'jet', 'turbo', 'nipy_spectral','gist_ncar'],
                      description='Color Map'
                   )
                  )
plot1

interactive(children=(Dropdown(description='x', options=('longitude', 'latitude', 'country', 'shape', 'duratio…

### 2. Histogram/Bar Plot

#### I had to write an if-else statement in such a way that if the axis selected is categorical, then we plot a bar chart else if the axis is numerical then we plot a histogram. I used the same five columns that I used in the previous plot. The reasoning for choosing these 5 columns is the same.

#### So the function first checked for the number of unique values in the column, if that number is above 40, it means that the column is numerical and we plot a histogram, else we will plot a bar chart.

#### For the histogram, I used a simple plt.hist() function and input the axis, and number of bins as attributes.

#### For the bar chart, I counted the frequency of unique values in a separate variable and stored list of unique values in a separate variable. I then printed the chart using plt.bar() with elements and frequency of unique values as attributes.

#### I used the same interactive funciton used in the previous plot to create this chart along with the widgets.

In [6]:
def agg_plot(axis, bins):
    x = ufos[axis]
    if x.nunique()>40:
        plt.hist(x, bins)
    else:
        counts = x.value_counts().tolist()
        elements = x.unique().tolist()
        plt.bar(elements, height=counts)
    if axis=='shape':
        plt.xticks(rotation=90)
    plt.ylabel('Count')
    plt.xlabel(axis)
    plt.title('Aggregate values of column')
    plt.show()

plot2 = interactive(agg_plot, 
                  axis = ipywidgets.Dropdown(
                      value='longitude',
                      options=['longitude', 'latitude', 'country', 'shape', 'duration_seconds'],
                      description='Column'
                  ),
                   bins = ipywidgets.IntSlider(
                            value=3,
                            min=1, max=30, step=1,
                            description='No. of bins'
                   )
                  )
plot2

interactive(children=(Dropdown(description='Column', options=('longitude', 'latitude', 'country', 'shape', 'du…

I used multiple references to learn more about types of widgets and the 'interactive' function used in the code.

References used for first part of assignment:
1. https://stackoverflow.com/questions/52238567/have-2-ipywidgets-acting-on-one-matplotlib-plot-in-jupyter-python
2. https://kapernikov.com/ipywidgets-with-matplotlib/
3. https://stackabuse.com/rotate-axis-labels-in-matplotlib/